MY_TELEGRAM_CHAT_ID=123456789
TG_BOT_TOKEN=YOUR_TG_TOKEN
TWS_PORT=7497
CLIENT_ID=0
FLEX_TOKEN=YOUR_FLEX_TOKEN
FLEX_QUERY_ID=YOUR_FLEX_QUERY_ID
NOTION_TOKEN=YOUR_NOTION_TOKEN
NOTION_DATABASE_ID=YOUR_NOTION_DATABASE_ID
